
    $FFPRIMARY: 'Barlow', sans-serif;
    $FFSECONDARY: 'Fraunces', serif;
    $FS: 18px;
    $SOFTRED: hsl(7, 99%, 70%);
    $YELLOW: hsl(51, 100%, 49%);
    $DARKCYAN: #25564b;
    $DARKBLUE:  hsl(198, 62%, 26%);
    $MODERATECYAN: hsl(168, 34%, 41%);
    $LIGHTCYAN: hsl(168, 48%, 63%);
    $VERYDARKBLUE: hsl(212, 27%, 19%);
    $VERYDARKGRAYISHBLUE: hsl(213, 9%, 39%);
    $DARKGRAYISHBLUE: hsl(232, 10%, 55%);
    $GRAYISHBLUE: hsl(210, 4%, 67%);
