
.icons{
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
}

.icon--facebook{
    background-image: url('/src/assets/images/icon-facebook.svg');
}
.icon--instagram{
    background-image: url('/src/assets/images/icon-instagram.svg');
}
.icon--twitter{
    background-image: url('/src/assets/images/icon-twitter.svg');
}
.icon--pinterest{
    background-image: url('/src/assets/images/icon-pinterest.svg');
}

.icons:hover{
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(49deg) brightness(200%) contrast(103%);
}