nav{
    width: 100%;
    position: fixed;
    z-index: 111;
    background-color: transparent;
    padding: 40px 20px;
   }

.nav--icons--container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav--icons--container > img {
    cursor: pointer;
}