@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

:root{
    --FFPRIMARY: 'Barlow', sans-serif;
    --FFSECONDARY: 'Fraunces', serif;
    --FS: 18px;
    --SOFTRED: hsl(7, 99%, 70%);
    --YELLOW: hsl(51, 100%, 49%);
    --DARKCYAN: #25564b;
    --DARKBLUE:  hsl(198, 62%, 26%);
    --MODERATECYAN: hsl(168, 34%, 41%);
    --LIGHTCYAN: hsl(168, 48%, 63%);
    --VERYDARKBLUE: hsl(212, 27%, 19%);
    --VERYDARKGRAYISHBLUE: hsl(213, 9%, 39%);
    --DARKGRAYISHBLUE: hsl(232, 10%, 55%);
    --GRAYISHBLUE: hsl(210, 4%, 67%);
}

*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--FFPRIMARY);
    font-size: var(--FS);
}


nav{
    width: 100%;
    position: fixed;
    z-index: 111;
    background-color: transparent;
    padding: 40px 20px;
   }

.nav--icons--container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav--icons--container > img {
    cursor: pointer;
}

.nav--lists{
    list-style: none;
    color: white;
    font-size: .9rem;
    display: none;
}

.nav--active {
    margin-top: 50px;
    padding-block: 40px;
    background-color: white;
    list-style: none;
    color: var(--DARKGRAYISHBLUE);
    line-height: 3rem;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav > ul::before{
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    top: -30px;
    right: 0;
    border-top: 20px solid transparent;
    border-left: 20px solid transparent;
    border-bottom: 20px solid white;
    border-right: 20px solid white;
}

nav > ul > li {
    
    border-radius: 30px;
    cursor: pointer;
   
    padding: 10px 30px;
}

nav > ul > li:hover{
    background-color: var(--YELLOW);
    color: var(--VERYDARKBLUE);
    text-transform: uppercase;
    font-family: var(--FFSECONDARY);
    font-size: .8rem;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 375px;
}

header{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img--orange--container{
    width: 100%;
}

.header__img--orange{
    display: block;
    background-image: url('/src/assets/images/mobile/image-header.jpg');
    min-width: 375px;
    min-height: 540px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header--info--container{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header--info--container > p {
    font-size: 3rem;
    font-family: var(--FFSECONDARY);
    color: white;
    text-transform: uppercase;
    text-align: center;
}



.img--egg{
   background-image: url('/src/assets/images/mobile/image-transform.jpg');
    display: block;
    background-color: red;
    width: 100%;
    min-height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img--cup{
    background-image: url('/src/assets/images/mobile/image-stand-out.jpg');
    display: block;
    background-color: red;
    width: 100%;
    min-height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main--text--container{
    color: var(--VERYDARKBLUE);
    padding: 40px 20px;
    text-align: center;
    font-family: var(--FFSECONDARY);
}

.main--text--container > h1 {
    font-size: clamp(2rem, 3vw, 2rem);
}

.main--text--info {
    padding-block: 30px;
    color: var(--DARKGRAYISHBLUE);
    font-family: var(--FFPRIMARY);
    line-height: 2rem;
}

.main--text--learnmore{
    text-transform: uppercase;
    color: var(--VERYDARKBLUE);
    font-weight: 800;
}

.learn--yellow, .learn--softred{
    display: inline;
    position: relative;
    cursor: pointer;
}

.learn--yellow::after, .learn--softred:after{
    position: absolute;
    content: "";
    width: 110%;
    height: 10px;
    opacity: .3;
    left: -5%;
    bottom: -1px;
    z-index: -1;
    border-radius: 5px;
}

.learn--yellow::after{
    background-color: var(--YELLOW);
}

.learn--softred::after{
    background-color: var(--SOFTRED);
}

.learn--yellow:hover::after {
    opacity: 1;
}

.learn--softred:hover::after {
    opacity: 1;
}

.graphic--img--berry, .photography--img--orange{
    min-height: 610px;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 50px;
    padding-inline: 20px;
}

.graphic--img--berry{
    background-image: url('/src/assets/images/mobile/image-graphic-design.jpg');
}

.photography--img--orange{
    background-image: url('/src/assets/images/mobile/image-photography.jpg');
}

.lower--title{
    font-family: var(--FFSECONDARY);
    color: var(--DARKCYAN);
    font-weight: 800;
    padding: 20px;
}

.lower--text--info{
    color: var(--DARKCYAN);
    font-size: 1rem;
    line-height: 1.5rem;
}

.testimonials--container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonials--container > h2{
    padding-top: 50px;
    padding-bottom: 20px;
    color: var(--GRAYISHBLUE);
    text-transform: uppercase;
    font-family: var(--FFSECONDARY);
    font-size: 1.1rem;
    letter-spacing: .25rem;
}

.testimony--container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
    text-align: center;
}

.testimony--img{
    width: 70px;
    border-radius: 50%;
}

.testimony--text{
    margin-block: 30px;
    line-height: 2rem;
    font-size: 1.1rem;
    color: var(--DARKGRAYISHBLUE);
}

.testimony--name{
    color: var(--VERYDARKBLUE);
    font-family: var(--FFSECONDARY);
    font-weight: 800;
}

.testimony--jobPosition{
    margin-top: 15px;
    color: var(--GRAYISHBLUE);
    font-size: .9rem;
}



.footer--gallery{
    margin-top: 50px;
    min-width: 100%; 
   display: grid;
   grid-template-columns: 1fr 1fr;

}

.footer--gallery > img {
    display: block;
   width: 100%; 
}

.footer--linksAndIcons--container{
    background-color: var(--LIGHTCYAN);
    text-align: center;
    padding-block: 50px;
}

.footer--lists{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    color: var(--MODERATECYAN);
    padding-block: 30px;
}

.footer--icons--container{
    padding-block: 50px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.attribution{
    text-align: center;
    font-size: .8rem;
    margin-block: 50px;
    color: var(--MODERATECYAN);
}

.attribution > a{
    color: var(--DARKCYAN);
}

@media (min-width: 50em){

    nav{
        display: flex;
        justify-content: space-between;
        padding-inline: 30px;
    }
    
    .icon--hamburger{
        display: none;
    }
    
    .nav--lists{
        display: flex;
        align-items: center;
        justify-content: end;
    }

    .nav--lists::before{
        display: none;
    }

    .nav--lists > li:hover{
        color: black;
        background-color: white;
    }

    .header__img--orange{
        background-image: url('/src/assets/images/desktop/image-header.jpg');
    }
   
    .main--section{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .img--egg{
        background-image: url('/src/assets/images/desktop/image-transform.jpg');
       grid-column: 2/ -1;
    }

    .text--egg{
        grid-column: 1 / 2;
        grid-row: 1/ 2;
    }
    
    .img--cup{
        background-image: url('/src/assets/images/desktop/image-stand-out.jpg');
    }

    .main--text--container{
         padding: 15% 15%;
         text-align: left;
    }
    
    .main--text--container > h1{
        font-size: clamp(2rem, 5vw, 3rem);
        }
    
    .main--text--info{
        font-size: 1rem;
        line-height: 1.5rem;  
    }

    .photography--img--orange, .graphic--img--berry{
        padding: 0;
        min-height: 500px;
        display: flex;
        justify-content: end;
        align-items: center;
    }

    .photography--img--orange{
        background-image: url('/src/assets/images/desktop/image-photography.jpg');
    }

    .graphic--img--berry{
        background-image: url('/src/assets/images/desktop/image-graphic-design.jpg');
    }

    .lower--title{
        padding: 0;
    }

    .lower--text--info{
        max-width: 350px;
        padding-block: 40px;
    }

    .testimonials--container{
        padding-block: 50px;
    }

    .client--testimonies--container{
      display: flex;
      justify-content: center;
      align-items: center;
      padding-inline: 120px;
    }

    .footer--gallery{
        grid-template-columns: repeat(4, 1fr);
    }

    .footer--logo{
        transform: scale(1.2);
    }

    .footer--lists{
        justify-content: center;
        gap: 5%;
    }

}

