@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

:root{
    --FFPRIMARY: 'Barlow', sans-serif;
    --FFSECONDARY: 'Fraunces', serif;
    --FS: 18px;
    --SOFTRED: hsl(7, 99%, 70%);
    --YELLOW: hsl(51, 100%, 49%);
    --DARKCYAN: hsl(167, 40%, 24%);
    --DARKBLUE:  hsl(198, 62%, 26%);
    --MODERATECYAN: hsl(168, 34%, 41%);
    --VERYDARKBLUE: hsl(212, 27%, 19%);
    --VERYDARKGRAYISHBLUE: hsl(213, 9%, 39%);
    --DARKGRAYISHBLUE: hsl(232, 10%, 55%);
    --GRAYISHBLUE: hsl(210, 4%, 67%);
}

*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--FFPRIMARY);
    font-size: var(--FS);
}

nav{
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: transparent;
    padding: 40px 20px;
   }

.nav--icons--container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav--icons--container > img {
    cursor: pointer;
}

nav > ul {
    margin-top: 50px;
    padding-block: 40px;
    background-color: white;
    list-style: none;
    color: var(--DARKGRAYISHBLUE);
    line-height: 3rem;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav > ul::before{
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    top: -30px;
    right: 0;
    border-top: 20px solid transparent;
    border-left: 20px solid transparent;
    border-bottom: 20px solid white;
    border-right: 20px solid white;
}

nav > ul > li {
    padding-inline: 30px;
    border-radius: 30px;
    cursor: pointer;
}

nav > ul > li:hover{
    background-color: var(--YELLOW);
    color: var(--VERYDARKBLUE);
    text-transform: uppercase;
    font-family: var(--FFSECONDARY);
    font-size: .8rem;
}


header > img {
    width: 100%;
}